.signup{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #355C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.formit{
  text-align: center;
  border: 1px solid black;
  padding: 3rem;
  margin: 1rem;
  background-color: whitesmoke;
  color: rgb(83, 145, 173);
  font-weight: 600;
}

.submit{
  margin: 40px;
}

.cursor{
  cursor: pointer;
  text-decoration: underline;
}
.cancel{
  width: 200px;
  margin:0px !important;
  background: red !important;
}

.img{
  height: 300px;
  margin-top: 40px;
  margin-left: 50px;
  
}

.font{
  font-size: 60px;
  color: white;
}